<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div>
		<label for="" style='width:100px;>用户名:</label><input type="input" name="username" style="width:300px;height: 25px;line-height: 25px;border-radius: #d4d4d4 1px solid;"><br>
		<label for="" tyle='width:100px;>密码:</label><input type="pwd" name="pwd" style="width:300px;height: 25px;line-height: 25px;border-radius: #d4d4d4 1px solid;"><br>
		<button @click="login">立即登录</button>
	</div>
	<script type="text/JavaScript" src="/static/index/js/jquery.min.js"></script>
	<script type="text/JavaScript" src="/static/index/js/vue.js"></script>
	<script type="text/JavaScript">
		var app = new Vue({
			el:"#app",
			data:{},
			created:function(){

			},
			methods:{
				login:function(){
					var username = $('input[name=username]').val();
					var pwd = $('input[name=pwd]').val();

					if(username == ''||pwd==''){
						alert('用户名或密码不能为空');
						return false;
					}
					$.ajax({
						url:'http://www.tp5.com/back/login',
						type:'post',
						data:{username:username,pwd:pwd},

						success:function(res){
							if(res.code ==2000){
								loclStorage.setItem('ks_token',res.data.token);
								window.location.href='/back/zhu/index';
							}else{
								alert(res.msg);
							}
						}
					})
				},
				check_token:function(){
					var token = localStorage.getItem('ks_token');
					if(token){
						$.ajax({
							url:'http://www.tp5.com/back/zhu/checkUserToken',
							type:'post',
							dataType:'json',
							data:{token:token},

							suncess:function(){
								if(res.code==2000){
									window.location.href="/back/zhu/index";
								}else{
									alert(res.msg);
								}
							}
						})
					}
				},
			}
		})
	</script>
</body>
</html>